
name: GitHub Actions Demo
on: 
  push:
    branches: [master]
  pull_request:
    branches: [master]
jobs:
  init:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [ 17.x ]
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Setup Nodejs
        uses: actions/setup-node@v3
        with: 
          node-version: ${{ matrix.node-version }}
      - name: install dependencies
        run: npm install
      - name: unit test 
        run: npm run test-unit